.encabezado ul {
    list-style: none;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.encabezado ul li {
    margin: .3rem;
}

.encabezado ul a {
    color: #8d34d9;
    text-decoration: none;
}